@media (prefers-color-scheme: dark){
    :root{
        --bgc: hsl(0, 45%, 32%);
        --alive: hsl(120, 45%, 40%);
        --dead: hsl(0, 45%, 42%);
        --textColor: hsl(220, 20%, 88%);
    }
}