@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
:root{
    /* Soft pastel Life palette */
    --bgc: hsl(0, 0%, 46%);           /* neutral canvas */
    --alive: hsl(120, 50%, 60%);      /* soft mint green */
    --dead: hsl(0, 50%, 62%);         /* soft blush red */
    --textColor: hsl(220, 20%, 88%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgc);
    color: var(--textColor);
    font-family: "Science Gothic", sans-serif;
}

h1{
    /* border: 1px solid black; */
    padding-left: 1rem;
}

td{
    height: 1rem;
    width: 1rem;
}
td.alive{
    background-color: var(--alive);
}
td.dead{
    background-color: var(--dead);
}