@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
:root{
    --bgc: hsl(0, 50%, 62%);
    --alive: hsl(120, 50%, 60%);
    --dead: hsl(0, 50%, 52%);
    --textColor: hsl(220, 20%, 88%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgc);
    color: var(--textColor);
    font-family: "Science Gothic", sans-serif;
}

h1{
    padding-left: 1rem;
}

td{
    height: 1rem;
    width: 1rem;
}
td.alive{
    background-color: var(--alive);
}
td.dead{
    background-color: var(--dead);
}
p{
    display: none;
}